<div class="col-3">
	<div class="wrapper-skin">
		<img class='icono' src="{{icono}}" alt="{{nombre}}">
		<h6 class='nombre'>{{nombre}}</h6>
		<div>
			<b>Tipo: </b>{{tipo}}<br/>
			<b>Rareza: </b>{{rareza}}<br/>
		</div>
	</div>
</div>